# Criando um Dataframe vazio

In [3]:
df <- data.frame()
class(df)
df

[1] "data.frame"

# Criando vetores vazios

In [6]:
nomes <- character()
idades <- numeric()
itens <- numeric()
codigos <- integer()

df <- data.frame(c(nomes, idades, itens, codigos)) 
df

     c.nomes..idades..itens..codigos.

# Criando vetores

In [7]:
pais = c("Portugal", "Inglaterra", "Irlanda", "Egito", "Brasil")
nome = c("Bruno", "Tiago", "Amanda", "Bianca", "Marta")
altura = c(1.88, 1.76, 1.53, 1.69, 1.68)
codigo = c(5001, 2183, 4702, 7965, 8890)

# Criando um Dataframe de diversos vetores

In [8]:
pesquisa = data.frame(pais, nome, altura, codigo)
pesquisa

  pais       nome   altura codigo
1 Portugal   Bruno  1.88   5001
2 Inglaterra Tiago  1.76   2183
3 Irlanda    Amanda 1.53   4702
4 Egito      Bianca 1.69   7965
5 Brasil     Marta  1.68   8890

# Adicionando um novo vetor à um Dataframe existente

In [9]:
olhos = c("Verde", "azul", "azul", "castanho", "castanho")
pesq = cbind(pesquisa, olhos)
pesq

  pais       nome   altura codigo olhos
1 Portugal   Bruno  1.88   5001   Verde
2 Inglaterra Tiago  1.76   2183   azul
3 Irlanda    Amanda 1.53   4702   azul
4 Egito      Bianca 1.69   7965   castanho
5 Brasil     Marta  1.68   8890   castanho

# Informações sobre o Dataframe

In [10]:
str(pesq)
dim(pesq)
length(pesq)

'data.frame':	5 obs. of  5 variables:
 $ pais  : Factor w/ 5 levels "Brasil","Egito",..: 5 3 4 2 1
 $ nome  : Factor w/ 5 levels "Amanda","Bianca",..: 3 5 1 2 4
 $ altura: num  1.88 1.76 1.53 1.69 1.68
 $ codigo: num  5001 2183 4702 7965 8890
 $ olhos : Factor w/ 3 levels "azul","castanho",..: 3 1 1 2 2

[1] 5 5

[1] 5

# Obtendo um vetor de um Dataframe

In [11]:
pesq$pais
pesq$nome

[1] Portugal   Inglaterra Irlanda    Egito      Brasil
Levels: Brasil Egito Inglaterra Irlanda Portugal

[1] Bruno  Tiago  Amanda Bianca Marta
Levels: Amanda Bianca Bruno Marta Tiago

# Extraindo um único valor

In [ ]:
pesq[1,1]
pesq[3,2]

# Número de linhas e colunas

In [12]:
nrow(pesq)
ncol(pesq)

[1] 5

[1] 5

# Primeiros elementos do dataframe

In [13]:
head(pesq)
head(mtcars)

  pais       nome   altura codigo olhos
1 Portugal   Bruno  1.88   5001   Verde
2 Inglaterra Tiago  1.76   2183   azul
3 Irlanda    Amanda 1.53   4702   azul
4 Egito      Bianca 1.69   7965   castanho
5 Brasil     Marta  1.68   8890   castanho

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1

# Últimos elementos do Dataframe

In [14]:
tail(pesq)
tail(mtcars)

  pais       nome   altura codigo olhos
1 Portugal   Bruno  1.88   5001   Verde
2 Inglaterra Tiago  1.76   2183   azul
3 Irlanda    Amanda 1.53   4702   azul
4 Egito      Bianca 1.69   7965   castanho
5 Brasil     Marta  1.68   8890   castanho

               mpg  cyl disp  hp  drat wt    qsec vs am gear carb
Porsche 914-2  26.0 4   120.3  91 4.43 2.140 16.7 0  1  5    2
Lotus Europa   30.4 4    95.1 113 3.77 1.513 16.9 1  1  5    2
Ford Pantera L 15.8 8   351.0 264 4.22 3.170 14.5 0  1  5    4
Ferrari Dino   19.7 6   145.0 175 3.62 2.770 15.5 0  1  5    6
Maserati Bora  15.0 8   301.0 335 3.54 3.570 14.6 0  1  5    8
Volvo 142E     21.4 4   121.0 109 4.11 2.780 18.6 1  1  4    2

# Filtro para um subset de dados que atendem a um critério

In [18]:
pesq[altura < 1.60,]
pesq[altura < 1.60, c("codigo","olhos")]
pesq

  pais    nome   altura codigo olhos
3 Irlanda Amanda 1.53   4702   azul

  codigo olhos
3 4702   azul

  pais       nome   altura codigo olhos
1 Portugal   Bruno  1.88   5001   Verde
2 Inglaterra Tiago  1.76   2183   azul
3 Irlanda    Amanda 1.53   4702   azul
4 Egito      Bianca 1.69   7965   castanho
5 Brasil     Marta  1.68   8890   castanho

# Dataframes nomeados

In [19]:
names(pesq) <- c("País", "Nome", "Altura", "Código", "Olhos")
pesq

  País       Nome   Altura Código Olhos
1 Portugal   Bruno  1.88   5001   Verde
2 Inglaterra Tiago  1.76   2183   azul
3 Irlanda    Amanda 1.53   4702   azul
4 Egito      Bianca 1.69   7965   castanho
5 Brasil     Marta  1.68   8890   castanho

In [21]:
colnames(pesq) <- c("var 1", "var 2", "var 3", "var 4", "var 5")
rownames(pesq) <- c("obs 1", "obs 2", "obs 3", "obs 4", "obs 5")
pesq

      var 1      var 2  var 3 var 4 var 5
obs 1 Portugal   Bruno  1.88  5001  Verde
obs 2 Inglaterra Tiago  1.76  2183  azul
obs 3 Irlanda    Amanda 1.53  4702  azul
obs 4 Egito      Bianca 1.69  7965  castanho
obs 5 Brasil     Marta  1.68  8890  castanho

In [22]:
# Carregando um arquivo CSV

In [17]:
?mtcars
mtcars

                    mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Mazda RX4           21.0 6   160.0 110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag       21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4
Datsun 710          22.8 4   108.0  93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive      21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout   18.7 8   360.0 175 3.15 3.440 17.02 0  0  3    2
Valiant             18.1 6   225.0 105 2.76 3.460 20.22 1  0  3    1
Duster 360          14.3 8   360.0 245 3.21 3.570 15.84 0  0  3    4
Merc 240D           24.4 4   146.7  62 3.69 3.190 20.00 1  0  4    2
Merc 230            22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2
Merc 280            19.2 6   167.6 123 3.92 3.440 18.30 1  0  4    4
Merc 280C           17.8 6   167.6 123 3.92 3.440 18.90 1  0  4    4
Merc 450SE          16.4 8   275.8 180 3.07 4.070 17.40 0  0  3    3
Merc 450SL          17.3 8   275.8 180 3.07 3.730 17.60 0  0  3    3
Merc 450SLC         15.2 8   275.8 180 3.07 3.780 18.00 0  0  3    3
Cadillac Fleetwood  10.4 8   472.0 205 2.93 5.250 17.98 0  0  3    4
Lincoln Continental 10.4 8   460.0 215 3.00 5.424 17.82 0  0  3    4
Chrysler Imperial   14.7 8   440.0 230 3.23 5.345 17.42 0  0  3    4
Fiat 128            32.4 4    78.7  66 4.08 2.200 19.47 1  1  4    1
Honda Civic         30.4 4    75.7  52 4.93 1.615 18.52 1  1  4    2
Toyota Corolla      33.9 4    71.1  65 4.22 1.835 19.90 1  1  4    1
Toyota Corona       21.5 4   120.1  97 3.70 2.465 20.01 1  0  3    1
Dodge Challenger    15.5 8   318.0 150 2.76 3.520 16.87 0  0  3    2
AMC Javelin         15.2 8   304.0 150 3.15 3.435 17.30 0  0  3    2
Camaro Z28          13.3 8   350.0 245 3.73 3.840 15.41 0  0  3    4
Pontiac Firebird    19.2 8   400.0 175 3.08 3.845 17.05 0  0  3    2
Fiat X1-9           27.3 4    79.0  66 4.08 1.935 18.90 1  1  4    1
Porsche 914-2       26.0 4   120.3  91 4.43 2.140 16.70 0  1  5    2
Lotus Europa        30.4 4    95.1 113 3.77 1.513 16.90 1  1  5    2
Ford Pantera L      15.8 8   351.0 264 4.22 3.170 14.50 0  1  5    4
Ferrari Dino        19.7 6   145.0 175 3.62 2.770 15.50 0  1  5    6
Maserati Bora       15.0 8   301.0 335 3.54 3.570 14.60 0  1  5    8
Volvo 142E          21.4 4   121.0 109 4.11 2.780 18.60 1  1  4    2

mtcars                package:datasets                 R Documentation

_M_o_t_o_r _T_r_e_n_d _C_a_r _R_o_a_d _T_e_s_t_s

_D_e_s_c_r_i_p_t_i_o_n:

     The data was extracted from the 1974 _Motor Trend_ US magazine,
     and comprises fuel consumption and 10 aspects of automobile design
     and performance for 32 automobiles (1973-74 models).

_U_s_a_g_e:

     mtcars

_F_o_r_m_a_t:

     A data frame with 32 observations on 11 (numeric) variables.

       [, 1]  mpg   Miles/(US) gallon
       [, 2]  cyl   Number of cylinders
       [, 3]  disp  Displacement (cu.in.)
       [, 4]  hp    Gross horsepower
       [, 5]  drat  Rear axle ratio
       [, 6]  wt    Weight (1000 lbs)
       [, 7]  qsec  1/4 mile time
       [, 8]  vs    Engine (0 = V-shaped, 1 = straight)
       [, 9]  am    Transmission (0 = automatic, 1 = manual)
       [,10]  gear  Number of forward gears
       [,11]  carb  Number of carburetors

_S_o_u_r_c_e:

     Henderson and Velleman (1981), Building multiple regression models
     interactively.  _Biometrics_, *37*, 391-411.

_E_x_a_m_p_l_e_s:

     require(graphics)
     pairs(mtcars, main = "mtcars data", gap = 1/4)
     coplot(mpg ~ disp | as.factor(cyl), data = mtcars,
            panel = panel.smooth, rows = 1)
     ## possibly more meaningful, e.g., for summary() or bivariate plots:
     mtcars2 <- within(mtcars, {
        vs <- factor(vs, labels = c("V", "S"))
        am <- factor(am, labels = c("automatic", "manual"))
        cyl  <- ordered(cyl)
        gear <- ordered(gear)
        carb <- ordered(carb)
     })
     summary(mtcars2)

In [23]:
?read.csv

read.table                package:utils                R Documentation

_D_a_t_a _I_n_p_u_t

_D_e_s_c_r_i_p_t_i_o_n:

     Reads a file in table format and creates a data frame from it,
     with cases corresponding to lines and variables to fields in the
     file.

_U_s_a_g_e:

     read.table(file, header = FALSE, sep = "", quote = "\"'",
                dec = ".", numerals = c("allow.loss", "warn.loss", "no.loss"),
                row.names, col.names, as.is = !stringsAsFactors,
                na.strings = "NA", colClasses = NA, nrows = -1,
                skip = 0, check.names = TRUE, fill = !blank.lines.skip,
                strip.white = FALSE, blank.lines.skip = TRUE,
                comment.char = "#",
                allowEscapes = FALSE, flush = FALSE,
                stringsAsFactors = default.stringsAsFactors(),
                fileEncoding = "", encoding = "unknown", text, skipNul = FALSE)

     read.csv(file, header = TRUE, sep = ",", quote = "\"",
              dec = ".", fill = TRUE, comment.char = "", ...)

     read.csv2(file, header = TRUE, sep = ";", quote = "\"",
               dec = ",", fill = TRUE, comment.char = "", ...)

     read.delim(file, header = TRUE, sep = "\t", quote = "\"",
                dec = ".", fill = TRUE, comment.char = "", ...)

     read.delim2(file, header = TRUE, sep = "\t", quote = "\"",
                 dec = ",", fill = TRUE, comment.char = "", ...)

_A_r_g_u_m_e_n_t_s:

    file: the name of the file which the data are to be read from.
          Each row of the table appears as one line of the file.  If it
          does not contain an _absolute_ path, the file name is
          _relative_ to the current working directory, 'getwd()'.
          Tilde-expansion is performed where supported.  This can be a
          compressed file (see 'file').

          Alternatively, 'file' can be a readable text-mode connection
          (which will be opened for reading if necessary, and if so
          'close'd (and hence destroyed) at the end of the function
          call).  (If 'stdin()' is used, the prompts for lines may be
          somewhat confusing.  Terminate input with a blank line or an
          EOF signal, 'Ctrl-D' on Unix and 'Ctrl-Z' on Windows.  Any
          pushback on 'stdin()' will be cleared before return.)

          'file' can also be a complete URL.  (For the supported URL
          schemes, see the 'URLs' section of the help for 'url'.)

  header: a logical value indicating whether the file contains the
          names of the variables as its first line.  If missing, the
          value is determined from the file format: 'header' is set to
          'TRUE' if and only if the first row contains one fewer field
          than the number of columns.

     sep: the field separator character.  Values on each line of the
          file are separated by this character.  If 'sep = ""' (the
          default for 'read.table') the separator is 'white space',
          that is one or more spaces, tabs, newlines or carriage
          returns.

   quote: the set of quoting characters. To disable quoting altogether,
          use 'quote = ""'.  See 'scan' for the behaviour on quotes
          embedded in quotes.  Quoting is only considered for columns
          read as character, which is all of them unless 'colClasses'
          is specified.

     dec: the character used in the file for decimal points.

numerals: string indicating how to convert numbers whose conversion to
          double precision would lose accuracy, see 'type.convert'.
          Can be abbreviated.  (Applies also to complex-number inputs.)

row.names: a vector of row names.  This can be a vector giving the
          actual row names, or a single number giving the column of the
          table which contains the row names, or character string
          giving the name of the table column containing the row names.

          If there is a header and the first row contains one fewer
          field than the number of columns, the first column in the
          input is used for the row names.  Otherwise if 'row.names' is
          missing, the rows are numbered.

          Using 'row.names = NULL' forces row numbering. Missing or
          'NULL' 'row.names' generate row names that are considered to
          be 'automatic' (and not preserved by 'as.matrix').

col.names: a vector of optional names for the variables.  The default
          is to use '"V"' followed by the column number.

   as.is: the default behavior of 'read.table' is to convert character
          variables (which are not converted to logical, numeric or
          complex) to factors.  The variable 'as.is' controls the
          conversion of columns not otherwise specified by
          'colClasses'.  Its value is either a vector of logicals
          (values are recycled if necessary), or a vector of numeric or
          character indices which specify which columns should not be
          converted to factors.

          Note: to suppress all conversions including those of numeric
          columns, set 'colClasses = "character"'.

          Note that 'as.is' is specified per column (not per variable)
          and so includes the column of row names (if any) and any
          columns to be skipped.

na.strings: a character vector of strings which are to be interpreted
          as 'NA' values.  Blank fields are also considered to be
          missing values in logical, integer, numeric and complex
          fields.  Note that the test happens _after_ white space is
          stripped from the input, so 'na.strings' values may need
          their own white space stripped in advance.

colClasses: character.  A vector of classes to be assumed for the
          columns.  If unnamed, recycled as necessary.  If named, names
          are matched with unspecified values being taken to be 'NA'.

          Possible values are 'NA' (the default, when 'type.convert' is
          used), '"NULL"' (when the column is skipped), one of the
          atomic vector classes (logical, integer, numeric, complex,
          character, raw), or '"factor"', '"Date"' or '"POSIXct"'.
          Otherwise there needs to be an 'as' method (from package
          'methods') for conversion from '"character"' to the specified
          formal class.

          Note that 'colClasses' is specified per column (not per
          variable) and so includes the column of row names (if any).

   nrows: integer: the maximum number of rows to read in.  Negative and
          other invalid values are ignored.

    skip: integer: the number of lines of the data file to skip before
          beginning to read data.

check.names: logical.  If 'TRUE' then the names of the variables in the
          data frame are checked to ensure that they are syntactically
          valid variable names.  If necessary they are adjusted (by
          'make.names') so that they are, and also to ensure that there
          are no duplicates.

    fill: logical. If 'TRUE' then in case the rows have unequal length,
          blank fields are implicitly added.  See 'Details'.

strip.white: logical. Used only when 'sep' has been specified, and
          allows the stripping of leading and trailing white space from
          unquoted 'character' fields ('numeric' fields are always
          stripped).  See 'scan' for further details (including the
          exact meaning of 'white space'), remembering that the columns
          may include the row names.

blank.lines.skip: logical: if 'TRUE' blank lines in the input are
          ignored.

comment.char: character: a character vector of length one containing a
          single character or an empty string.  Use '""' to turn off
          the interpretation of comments altogether.

allowEscapes: logical.  Should C-style escapes such as '\n' be
          processed or read verbatim (the default)?  Note that if not
          within quotes these could be interpreted as a delimiter (but
          not as a comment character).  For more details see 'scan'.

   flush: logical: if 'TRUE', 'scan' will flush to the end of the line
          after reading the last of the fields requested.  This allows
          putting comments after the last field.

stringsAsFactors: logical: should character vectors be converted to
          factors?  Note that this is overridden by 'as.is' and
          'colClasses', both of which allow finer control.

fileEncoding: character string: if non-empty declares the encoding used
          on a file (not a connection) so the character data can be
          re-encoded.  See the 'Encoding' section of the help for
          'file', the 'R Data Import/Export Manual' and 'Note'.

encoding: encoding to be assumed for input strings.  It is used to mark
          character strings as known to be in Latin-1 or UTF-8 (see
          'Encoding'): it is not used to re-encode the input, but
          allows R to handle encoded strings in their native encoding
          (if one of those two).  See 'Value' and 'Note'.

    text: character string: if 'file' is not supplied and this is, then
          data are read from the value of 'text' via a text connection.
          Notice that a literal string can be used to include (small)
          data sets within R code.

 skipNul: logical: should nuls be skipped?

     ...: Further arguments to be passed to 'read.table'.

_D_e_t_a_i_l_s:

     This function is the principal means of reading tabular data into
     R.

     Unless 'colClasses' is specified, all columns are read as
     character columns and then converted using 'type.convert' to
     logical, integer, numeric, complex or (depending on 'as.is')
     factor as appropriate.  Quotes are (by default) interpreted in all
     fields, so a column of values like '"42"' will result in an
     integer column.

     A field or line is 'blank' if it contains nothing (except
     whitespace if no separator is specified) before a comment
     character or the end of the field or line.

     If 'row.names' is not specified and the header line has one less
     entry than the number of columns, the first column is taken to be
     the row names.  This allows data frames to be read in from the
     format in which they are printed.  If 'row.names' is specified and
     does not refer to the first column, that column is discarded from
     such files.

     The number of data columns is determined by looking at the first
     five lines of input (or the whole input if it has less than five
     lines), or from the length of 'col.names' if it is specified and
     is longer.  This could conceivably be wrong if 'fill' or
     'blank.lines.skip' are true, so specify 'col.names' if necessary
     (as in the 'Examples').

     'read.csv' and 'read.csv2' are identical to 'read.table' except
     for the defaults.  They are intended for reading 'comma separated
     value' files ('.csv') or ('read.csv2') the variant used in
     countries that use a comma as decimal point and a semicolon as
     field separator.  Similarly, 'read.delim' and 'read.delim2' are
     for reading delimited files, defaulting to the TAB character for
     the delimiter.  Notice that 'header = TRUE' and 'fill = TRUE' in
     these variants, and that the comment character is disabled.

     The rest of the line after a comment character is skipped; quotes
     are not processed in comments.  Complete comment lines are allowed
     provided 'blank.lines.skip = TRUE'; however, comment lines prior
     to the header must have the comment character in the first
     non-blank column.

     Quoted fields with embedded newlines are supported except after a
     comment character.  Embedded nuls are unsupported: skipping them
     (with 'skipNul = TRUE') may work.

_V_a_l_u_e:

     A data frame ('data.frame') containing a representation of the
     data in the file.

     Empty input is an error unless 'col.names' is specified, when a
     0-row data frame is returned: similarly giving just a header line
     if 'header = TRUE' results in a 0-row data frame.  Note that in
     either case the columns will be logical unless 'colClasses' was
     supplied.

     Character strings in the result (including factor levels) will
     have a declared encoding if 'encoding' is '"latin1"' or '"UTF-8"'.

_M_e_m_o_r_y _u_s_a_g_e:

     These functions can use a surprising amount of memory when reading
     large files.  There is extensive discussion in the 'R Data
     Import/Export' manual, supplementing the notes here.

     Less memory will be used if 'colClasses' is specified as one of
     the six atomic vector classes.  This can be particularly so when
     reading a column that takes many distinct numeric values, as
     storing each distinct value as a character string can take up to
     14 times as much memory as storing it as an integer.

     Using 'nrows', even as a mild over-estimate, will help memory
     usage.

     Using 'comment.char = ""' will be appreciably faster than the
     'read.table' default.

     'read.table' is not the right tool for reading large matrices,
     especially those with many columns: it is designed to read _data
     frames_ which may have columns of very different classes.  Use
     'scan' instead for matrices.

_N_o_t_e:

     The columns referred to in 'as.is' and 'colClasses' include the
     column of row names (if any).

     There are two approaches for reading input that is not in the
     local encoding.  If the input is known to be UTF-8 or Latin1, use
     the 'encoding' argument to declare that.  If the input is in some
     other encoding, then it may be translated on input.  The
     'fileEncoding' argument achieves this by setting up a connection
     to do the re-encoding into the current locale.  Note that on
     Windows or other systems not running in a UTF-8 locale, this may
     not be possible.

_R_e_f_e_r_e_n_c_e_s:

     Chambers, J. M. (1992) _Data for models._ Chapter 3 of
     _Statistical Models in S_ eds J. M. Chambers and T. J. Hastie,
     Wadsworth & Brooks/Cole.

_S_e_e _A_l_s_o:

     The 'R Data Import/Export' manual.

     'scan', 'type.convert', 'read.fwf' for reading _f_ixed _w_idth
     _f_ormatted input; 'write.table'; 'data.frame'.

     'count.fields' can be useful to determine problems with reading
     files which result in reports of incorrect record lengths (see the
     'Examples' below).

     <URL: https://tools.ietf.org/html/rfc4180> for the IANA definition
     of CSV files (which requires comma as separator and CRLF line
     endings).

_E_x_a_m_p_l_e_s:

     ## using count.fields to handle unknown maximum number of fields
     ## when fill = TRUE
     test1 <- c(1:5, "6,7", "8,9,10")
     tf <- tempfile()
     writeLines(test1, tf)

     read.csv(tf, fill = TRUE) # 1 column
     ncol <- max(count.fields(tf, sep = ","))
     read.csv(tf, fill = TRUE, header = FALSE,
              col.names = paste0("V", seq_len(ncol)))
     unlink(tf)

     ## "Inline" data set, using text=
     ## Notice that leading and trailing empty lines are auto-trimmed

     read.table(header = TRUE, text = "
     a b
     1 2
     3 4
     ")